body {
	background-color : lightblue; /* le fond sera bleu clair*/
}

h1 {
	text-align : center;
	color : green;
	font-family : verdana;
}

h2, h3 {
	font-family : verdana;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
